/* camera.css */

.photo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  .photo {
    text-align: center;
  }
  
  .photo2 {
    text-align: center;
  }
  .ptext{
    font-size: x-large;
    font-weight: 400;
 
  }
  
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 50px;
    margin-bottom: 10px;
    width: 50px;
   height: 50px;}
 
  .custom-button {
    font-size: 1.5rem;
    padding: 12px 24px;
    border-radius: 10px;
    background-color:#833cbb;
    color: #fff;
    border: none;
    cursor: pointer;
    width:60%;
    padding-top: 10px;
  }
  
  .custom-button:hover {
    background-color: #833cbb;
  }
  .submit-button {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .webcam{
    height:50%;
    width:60%

  }