.screen {
  visibility: hidden; /* Initially hide the element */
  max-width: 100%; /* Set maximum width to 100% of the parent container */
  /* border-width: 1px; Specify the border width (added 'px' to specify the unit) */
}

/* Media query to show the element under specific conditions */
@media screen and (orientation: landscape) and (min-device-width: 368px) and (max-device-width: 1212px) {
  .screen {
    visibility: visible; /* Show the element */
    max-width: 80%; 
    margin: 0 auto; 
  }
}
